.navbar-lewagon {
  background: $black;

  .navbar-brand {
    color: red;
    font-family: $headers-font;
    font-size: 1.5rem;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-link{
  color: white;
}
